/* App.css */
body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  width: 100vw;
  height: 100vh;
}

.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
  animation: fadeInDown 1s ease-out;
}

form {
  margin-bottom: 20px;
  animation: fadeInUp 1s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container input[type="text"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 250px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.input-container input[type="text"]:focus {
  border-color: #007bff;
}

.input-container button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-left: 10px;
}

.input-container button[type="submit"]:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.whatsapp-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  animation: fadeIn 1s ease-out;
}

.contact:hover {
  transform: translateY(-5px);
}

.contact img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  animation: zoomIn 1s ease-out;
}

.contact p {
  margin: 5px 0;
  color: #555;
}

@media (max-width: 768px) {
  .input-container {
    flex-direction: column;
    align-items: stretch;
  }

  .input-container input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }

  .input-container button[type="submit"] {
    width: 100%;
    margin-left: 0;
  }
}

/* Keyframe animations */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
